.contents
  = render 'shared/flash'
  = render 'shared/left_contents'
  .right-margin
    .right-content
      .right-header
        .right-header__group-info
          .right-header__group-info__name #{@group.name}
          .right-header__group-info__members
            Members:
            -@group.users.each do |member|
              = member.name
        .right-header__edit-button Edit
      - if flash.empty?
        .right-main
          %ul.message-list
            - ["Hello world!","Good bey world!","Good bey world!","Good bey world!","Good bey world!","Good bey world!","Good bey world!","Good bey world!","Good bey world!", "test"].each do |message|
              = render 'message', text: message
        = render 'right-footer'
      - else
        .right-main.flash
          %ul.message-list
            - ["Hello world!","Good bey world!","Good bey world!","Good bey world!","Good bey world!","Good bey world!","Good bey world!","Good bey world!","Good bey world!", "test"].each do |message|
              = render 'message', text: message
        = render 'right-footer'
