.chat-group-form__field.clearfix
  .chat-group-form__field--left
    = f.label :name, "グループ名", class: 'chat-group-form__label'
  .chat-group-form__field--right
    = f.text_field :name, id: 'chat_group_name', class: 'chat-group-form__input', placeholder: "グループ名を入力してください"
.chat-group-form__field.clearfix
  .chat-group-form__field--left
    = f.label :users, "チャットメンバーを追加", class: 'chat-group-form__label'
  .chat-group-form__field--right
    %input#chat-group-form__input.chat-group-form__input{ placeholder: "追加したいユーザ名を入力してください", autocomplete: "off" }
    %ul.chat-member-candidate{data: {current: "#{current_user.id}"}}
.chat-group-form__field.clearfix
  .chat-group-form__field--left
    %label.chat-group-form__label チャットメンバー
  .chat-group-form__field--right
    %ul.chat-member-list
      - @group.users.each do |user|
        %li.chat-group-user.clearfix
          .chat-group-user__name #{user.name}
          - if current_user.id != user.id
            .chat-group-user__btn.chat-group-user__btn--remove 削除
          = hidden_field_tag 'user_ids[]', user.id
.chat-group-form__field.clearfix
  .chat-group-form__field--left
  .chat-group-form__field--right
    = f.submit 'Send', class: "chat-group-form__action-btn", type: "submit", name: "commit", data: { disable_with: "Save" }
