.left-content
  .left-header
    .left-header__name #{current_user.name}
    = link_to edit_user_registration_path do
      %i.fa.fa-gear.left-header__gear
    = link_to new_group_path do
      %i.fa.fa-edit.left-header__edit
  - if flash.empty?
    %ul.left-main
      .group-list
        = render partial: 'shared/group', collection: @groups
  - else
    %ul.left-main.flash
      .group-list
        = render partial: 'shared/group', collection: @groups
